<?xml version="1.0" encoding="utf-8"?>
<DdsConfigurationDocument
   schemaVersion="0.1"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.phoenixcontact.com/schema/dds.config"
   xmlns="http://www.phoenixcontact.com/schema/ddsconfig">

   <Domain id="0">
      <General>
         <Interfaces>
            <NetworkInterface>
                <Name>LAN 1</Name>
                <!--Address>192.168.1.10</Address-->
            </NetworkInterface>
         </Interfaces>
      </General>
      <Tracing>
         <Verbosity>config</Verbosity>
         <OutputFile>$ARP_PATH_APPS_DATA_DIR$/60002172000843/dds.0.log</OutputFile>
      </Tracing>
      <Publisher name="pub0" partitions="ping">
         <Writer name="wrr0" timestamp="true">
            <Sampling mode="cyclic" duration="10ms"/>
            <Topic name="MyTopic">
               <!--Variable>Arp.Plc.Eclr/My.Outport.Variable</Variable-->
 	       <Variable>Arp.Plc.Eclr/Main_1.udiTicksOut</Variable>
               <Variable>Arp.Plc.Eclr/Main_1.Out_Arr_Byte_2044</Variable>
            </Topic>
         </Writer>
      </Publisher>
      <Subscriber name="sub0" partitions="pong">
         <Reader name="rdr0">
            <Substitution mode="lastValues" duration="100ms" />
            <Topic name="MyTopic">
               <!--Variable>Arp.Plc.Eclr/My.Inport.Variable</Variable -->
               <Variable>Arp.Plc.Eclr/Main_1.udiTicksIn</Variable>
               <Variable>Arp.Plc.Eclr/Main_1.In_Arr_Byte_2044</Variable>
            </Topic>
         </Reader>
      </Subscriber>
   </Domain>

</DdsConfigurationDocument>
