<?xml version="1.0" encoding="utf-8"?>
<EsmConfigurationDocument xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" schemaVersion="1.0" xmlns="http://www.phoenixcontact.com/schema/esmconfig">
  <Tasks>
    <CyclicTask name="App.Dds.Task" priority="0" cycleTime="1000000" watchdogTime="0" executionTimeThreshold="0" />
  </Tasks>
  <EsmTaskRelations>
    <EsmTaskRelation esmName="ESM1" taskName="App.Dds.Task" />
  </EsmTaskRelations>
  <Programs>
    <Program name="Scheduler" programType="Scheduler" componentName="App.Dds.Component" />
  </Programs>
  <TaskProgramRelations>
    <TaskProgramRelation taskName="App.Dds.Task" programName="App.Dds.Component/Scheduler" order="0" />
  </TaskProgramRelations>
</EsmConfigurationDocument>
